*{
    padding: 0;
    margin: 0;
}

a:hover{
    background-color: greenyellow;
}
ul {
    list-style-type: none;
}

 .header1{
    height: 850px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/alappuzha.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.header1 img{
    width: 120px;
    float: left;

}

.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border-radius:  50px;
    background: transparent;
    color: #fff;
    float: right;
}
.login-btn0{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border-radius:  50px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    float: right;
}
.header1 h1{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;

}
.header1 p{
    margin: 18px 0;
}

.input-group
{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}
.form-control{
    border: 0;
    border-radius: 30px 0 0 30px;
    margin: 7px;
    box-shadow: none;
}
.input-group-text{
    width: 100px;
    background-color: chartreuse;
    border: 0;
    color: #fff;
    padding: 0 25px;
    border-radius: 40px;
    box-shadow: none;

}

.features{
padding: 100px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 80%;
    height: 350px;

}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 9px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    position: absolute;
    left: 20px;
    bottom: -50px;
}
.feature-img{
    position: relative;

}
.rating{
    padding: 3px;
    background: #fff;
    float: right;
    bottom: -1px;
    right: 3;
    position: absolute;
}
.features .fa{
    font-size: 15px;
    color: #ff5722;
}
.feature-details{
    padding: 40px;
    text-align: justify;
}
.feature-details h4{
    font-weight: 600;
    margin-top: 20px;

}
.feature-details .fa{
    margin-right: 5px;
}
.feature-box{
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

.gallery{
    padding: 100px 0;
    background: #efefef;

}
.gallery-box img
{
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1);
}

.gallery-box h4{
    display: block;
    width: 200px;
    font-size: 20px;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;

}

.banner{
    height: 80%;
    background-image: url(./images/alappuzha.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
}

.banner-highlights{
    padding: 70px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
}

.booking-btn{
    width: 120px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius:  50px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
}

.users-feedback{
    padding: 100px 0;
}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,100,0.2);
    padding-bottom: 50px;

}
.user-review p 
{
    padding: 50px 10px 10px 10px;
}

.users-feedback img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.user-review p::before{

    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: -44%;
    top: -20px;
}

.footer{
    padding: 100px 20px 10px;
    background-color: black;
    color: #fff;

}

.footer-logo{
    width: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;

}

.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

.footer hr{
    margin-top: 20px;
    background: #efefef;
}

.footer .copyright{
    margin: 0 5px;
    color: #fff;
    text-align: center;
}


#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #0c0b09;
    border-top: 1px solid #37332a;
    border-bottom: 1px solid #28251f;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #28251f;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #cda45e;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #cda45e;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #cda45e;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #28251f;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #454035;
  }
  
  #footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
    background: #28251f;
    color: white;
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: red;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #d3af71;
  }
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
    