*{
    padding: 0;
    margin: 0;
}

 .header1{
    height: 850px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(IMG-20211031-WA0024.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.header1 img{
    width: 120px;
    float: left;

}

.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius:  50px;
    background: transparent;
    color: #fff;
    float: right;
}
.header1 h1{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;

}
.header1 p{
    margin: 18px 0;
}

.input-group
{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}
.form-control{
    border: 0;
    border-radius: 30px 0 0 30px;
    margin: 7px;
    box-shadow: none;
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0;
    color: #fff;
    padding: 0 25px;
    border-radius: 40px;
    box-shadow: none;

}

.features{
padding: 100px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 80%;
    height: 350px;

}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 9px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    position: absolute;
    left: 20px;
    bottom: -50px;
}
.feature-img{
    position: relative;

}
.rating{
    padding: 3px;
    background: #fff;
    float: right;
    bottom: -1px;
    right: 3;
    position: absolute;
}
.features .fa{
    font-size: 15px;
    color: #ff5722;
}
.feature-details{
    padding: 40px;
    text-align: justify;
}
.feature-details h4{
    font-weight: 600;
    margin-top: 20px;

}
.feature-details .fa{
    margin-right: 5px;
}
.feature-box{
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}

.gallery{
    padding: 100px 0;
    background: #efefef;

}
.gallery-box img
{
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1);
}

.gallery-box h4{
    display: block;
    width: 200px;
    font-size: 20px;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;

}

.banner{
    height: 80%;
    background-image: url(IMG-20211031-WA0033.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
}


.banner-highlights{
    padding: 70px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
}

.booking-btn{
    width: 120px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius:  50px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
}

.users-feedback{
    padding: 100px 0;
}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,100,0.2);
    padding-bottom: 50px;

}
.user-review p 
{
    padding: 50px 10px 10px 10px;
}

.users-feedback img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.user-review p::before{

    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: -44%;
    top: -20px;
}

.footer{
    padding: 100px 20px 10px;
    background-image: linear-gradient(#2d557d,#9610fb);
    color: #fff;

}

.footer-logo{
    width: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;

}

.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

.footer hr{
    margin-top: 20px;
    background: #efefef;
}

.footer .copyright{
    margin: 0 5px;
    color: #fff;
    text-align: center;
}