/* signup page */
#main{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-image:url("./images/IMG-20211031-WA0033.jpg");
    background-color: rgba(0, 0, 0,0.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
form{
    width: 30vw;
}
form div label{
    color: white;
}

    
    #main {font-family:"Comic Sans MS", cursive;}
    /* css code for textbox */
    #main { border:1px solid #f26724; color:#fd7838; font-weight:bold; border-left:5px solid #f7f7f7; opacity:0.9;}
    
    #main { border:1px solid #f26724; outline:none; border-left:5px solid #f7f7f7;}


  
    #main .signup:hover{
	background-color:#f26724; outline:none;  border-radius: 2px; color:#f1f1f1; border:1px solid #f1f1f1;
    -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; 
	}
	
    td,h2{
        color: #fff;
    }
    
   